header{
    display:grid;
    grid-template-columns: 1fr 1fr;
    height:fit-content;
    padding:1em;
    color:rgb(220, 132, 132);
    background-image:url(https://static.vecteezy.com/system/resources/thumbnails/000/140/572/small/lowpoly-grey-gradient-vector.png);
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 0px 10px grey;
    
  }
  
  header h1{
    font-weight: bolder;
    font-size: 1.5em;
    font-size: 1.5em;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(243, 240, 240);
        

  }
  
  .head-nav{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
  
  .nav-link{
    border-style:solid;
    display:none;
    padding: 0.5em;
    text-decoration: none;
    color:rgb(108, 112, 112);
    font-size:1em;
    border-radius:2px;
    width:fit-content;
  } 
  
  .nav-link:hover{
    background-color:rgb(226, 45, 45); 
  }
   
  /* menu styles */
  
  .hamburger-menu{
    display: grid;
    gap:5px;
    width: fit-content;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
  }
  /*color of the menu bar */
  .hamburger-menu::before,
  .hamburger-menu::after,
  .hamburger-menu input {
    content: "";
    width: 50px;
    height: 7px;
    background-color: #000000;
    border-radius: 9999px;
    transform-origin: left center;
  }
   /*color of the menu bar */
   
  .hamburger-menu input {
    appearance: none;
    padding: 0;
    margin: 0;
    outline: none;
    pointer-events: none;
  }
  
  .sidebar nav ul{
    display: none;
    text-decoration: none;
  }
  
  .hamburger-menu:has(input:checked) + .sidebar nav ul{
    display:block;
    padding:0.5em;
    text-decoration:none;
    width:fit-content;
    border-radius:2px;
    color:white;
    font-size:1em;
  }
  /* Background of the menu's when hover*/
  .hamburger-menu:has(input:checked) + .sidebar nav a:hover{
    display:block;
    padding:0.5em;
    text-decoration:none;
    background-color:rgb(232, 233, 208);
    font-size:1em;
  }
  /* Background of the menu's when hover*/
  

@media screen and (max-width: 767px){
    #desk{ content-visibility: hidden;}   
}
.sidebar nav ul li{
    margin-bottom: 20px;
}
.sidebar nav ul li a{
    margin-bottom: 20px;
    font-size: large;
    text-decoration: none;
    color: rgb(13, 13, 13);
}
.sidebar nav ul li{
    list-style-type: disc;
    list-style-type: none;
    
}
body{
    background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQS3etZwZsQbiQVeFyBwZ9315J83584d3main__books__JKbbrBm5fpxcMLKFP5-hRlW7cZr2tsui4Swuk&usqp=CAU)
   
}
/* styles For Home*/
fieldset{
    
    margin-top: 10px;
    background-color: #eeebeb;
    margin-top: 10px;
    border: 2vw;
    box-shadow: 0px 0px 10px rgb(45, 44, 44);
}
fieldset legend{
    color: rgb(16, 15, 15);
    border-style: none;
    font-size: large;
    font-weight: bolder;
}
.both__cont{
   
    display: grid;
    grid-template-columns: 4fr 1fr;
    justify-content: space-around;
    
}
.txt h4{
    background: rgb(243, 190, 157);
    padding: 2vw;
    color: rgb(7, 7, 7);
    position: relative;
    border-radius: 10%;
    border-style: double;
    font-weight: bolder;
    font-size: large;
    font-family: serif;
    align-content: center;
    margin-top: 15vw;
    box-shadow: 0px 0px 10px rgb(111, 106, 106);
    font-size: 3vw;
}
.both__cont__img{
    border-style: solid;
    border-radius: 10%;
    width: 30vw;
    height: auto;
    align-content: center;
    margin: 5vw;
}
aside p {
    padding: 2vw;
    font-weight: bold;
    border-radius: 5%;
    background-color: #eeebeb;
    color: rgb(5, 5, 5);
    border-style: solid;
    align-items: center;
    margin: 3vw;
    margin-top: 10vh;
    box-shadow: 0px 0px 10px rgb(45, 44, 44);
    font-size: 15px;
    font-family:serif;
}
.right{
    position: relative;
    bottom: 0;
    border-style:solid;
    background-color: rgb(59, 57, 57);
    border-radius: 10%; 
    margin-top:65px;

    
}
.right h3{
    
    color: rgb(207, 146, 55);
    font-size: 7vw;
}
.right div{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

@keyframes bup{
    from{transform:scale(0);}
    to{transform:scale(10);}
}
.right div a{
    text-decoration: none;
   transition: transform 0.3s ease-in-out;
   text-align: center;
   font-size: 7vw;
   color: rgb(187, 127, 38);
   
   
}

#copy{
    grid-column: 1/7;
      text-align: center;
      color: rgb(230, 154, 41);
      
      
}

.right div a:hover{
    animation: bup 0.3s ease-in-out 1 normal;
    cursor: pointer;
}

  /*Styles For Hobby Page*/
  .menu{
    display: grid;
    justify-content: space-around;
    
  }
  .menu h1{
    text-align: center;
    
  }
  .main__books{
    margin-bottom: 10px;
    background-color: white;
    
  }
  .main__books h3{
    text-align: center;
    
  }
  .main__books__sheldon{
    border-radius: 7%;
    display: grid;
    grid-template-columns: 1fr 1fr ;
    border-style: solid;
    box-shadow: 0px 0px 10px rgb(45, 44, 44);
    margin-bottom: 10px;
    background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQS3etZwZsQbiQVeFyBwZ9315J83584d3main__books__JKbbrBm5fpxcMLKFP5-hRlW7cZr2tsui4Swuk&usqp=CAU)
    
  }
  .main__books__sheldon h3{
    grid-column: 1/3;
    text-align: left;
    

  }
  .main__books__sheldon img{
    grid-column: 1/2;
    width: 200px;
    margin-top: 20vh;
    border-radius: 100%;
    box-shadow: 0px 0px 10px rgb(49, 49, 47);
    
  }
  .main__books__sheldon p{
    grid-row: 2/4;
    grid-column: 2/4;
    font-weight: bold;
    border-style: groove;
    background-color: antiquewhite;
    box-shadow: 0px 0px 10px rgb(45, 44, 44);


  }

.main__books__JK{
    border-radius: 7%;
    display: grid;
    grid-template-columns: 1fr 1fr ;
    border-style: solid;
    box-shadow: 0px 0px 10px rgb(45, 44, 44);
    margin-bottom: 10px;
    background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQS3etZwZsQbiQVeFyBwZ9315J83584d3main__books__JKbbrBm5fpxcMLKFP5-hRlW7cZr2tsui4Swuk&usqp=CAU)
}
  
  .main__books__JK h3{
     grid-column: 1/3;
     text-align: left;
  }
  .main__books__JK img{
    grid-column: 1/2;
    width: 200px;
    margin-top: 12vh;
    border-radius: 100%;
    box-shadow: 0px 0px 10px rgb(197, 197, 47);

  }

.main__books__JK p{
    grid-row: 2/4;
    grid-column: 2/4;
    font-weight: bold;
    border-style: groove;
    background-color: antiquewhite;
    box-shadow: 0px 0px 10px rgb(45, 44, 44);


}
.main__volnch{
    text-align: center;
}
.main__volnch__volley{
    border-radius: 7%;
    display: grid;
    grid-template-columns: 1fr 1fr ;
    border-style: solid;
    box-shadow: 0px 0px 10px rgb(45, 44, 44);
    margin-bottom: 10px;
    background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQS3etZwZsQbiQVeFyBwZ9315J83584d3main__books__JKbbrBm5fpxcMLKFP5-hRlW7cZr2tsui4Swuk&usqp=CAU)
}
.main__volnch__volley h3{
    grid-column: 1/3;
    text-align: left;
}
.main__volnch__volley video{
    grid-column: 1/2;
    width: 200px;
    margin-top: 2vh;
    border-radius: 100%;
    box-shadow: 0px 0px 10px rgb(197, 197, 47);
}
.main__volnch__volley p{
    grid-row: 2/4;
    grid-column: 2/4;
    font-weight: bold;
    font-weight: bold;
    border-style: groove;
    background-color: antiquewhite;
    box-shadow: 0px 0px 10px rgb(45, 44, 44);

}
.main__church{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    border-radius: 7%;
    border-style: solid;
    box-shadow: 0px 0px 10px rgb(45, 44, 44);
    margin-bottom: 10px;
    background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQS3etZwZsQbiQVeFyBwZ9315J83584d3main__books__JKbbrBm5fpxcMLKFP5-hRlW7cZr2tsui4Swuk&usqp=CAU)
}
.main__church h3{
    grid-column: 1/3;
    text-align: left;
}
.main__church img{
    grid-column: 1/2;
    width: 150px;
    margin-left: 10px;
    border-radius: 100%;
    box-shadow: 0px 0px 10px rgb(197, 197, 47);
}
.main__church p{
    grid-row: 2/4;
    grid-column: 2/4;
    text-align: center;
    font-weight: bold;
    border-style: groove;
    background-color: antiquewhite;
    box-shadow: 0px 0px 10px rgb(45, 44, 44)  
}
.main__Cooking{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    border-style: solid;
    border-radius: 7%;
    box-shadow: 0px 0px 10px rgb(45, 44, 44);
    margin-bottom: 10px;
    background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQS3etZwZsQbiQVeFyBwZ9315J83584d3main__books__JKbbrBm5fpxcMLKFP5-hRlW7cZr2tsui4Swuk&usqp=CAU)
}
.main__Cooking h3{
    grid-column: 1/3;
    text-align: left;
}
.main__Cooking img{
    grid-column: 1/2;
    width: 150px;
    margin-left: 10px;
    border-radius: 100%;
    box-shadow: 0px 0px 10px rgb(197, 197, 47);
}
.main__Cooking p{
    grid-row: 2/4;
    grid-column: 2/4;
    text-align: center;
    font-weight: bold;
    border-style: groove;
    background-color: antiquewhite;
    box-shadow: 0px 0px 10px rgb(45, 44, 44)
}
   /* Style Extracurricular*/
.all__stenfer__Stem{
    margin: 5px;
    border-style: solid;
    border-radius: 10%;
    box-shadow: 0px 0px 10px rgb(45, 44, 44);

}
.all__stenfer__Stem h3{
    text-align: center;
}
.all__stenfer__Stem img{
    width: 50vw;
    height: 30vh;
    border-style: solid;
    border-radius: 20%;
    margin-top: 5vh;
    margin-left: 20vw;
    
}
.all__stenfer__Stem p{
   
    font-weight: bold;
    border-style: groove;
    background-color: antiquewhite;
    box-shadow: 0px 0px 10px rgb(45, 44, 44)
}
.all__fere{
    border-style: solid;
    border-radius: 10%;
    
}
.all__fere h3{
    text-align: center;
    
}
.all__fere img{
    width: 50vw;
    border-style: solid;
    border-radius: 20%;
    margin-top: 5vh;
    margin-left: 20vw;
}
.all__fere audio{
    content-visibility: hidden;
}
.all__fere p{
    font-weight: bold;
    border-style: groove;
    background-color: antiquewhite;
    box-shadow: 0px 0px 10px rgb(45, 44, 44)
}
.all__libma__librarian{
    border-style: solid;
    border-radius: 10%;
    
}
.all__libma__librarian h3{
    text-align: center;
}
.all__libma__librarian img{
    width: 50vw;
    border-style: solid;
    border-radius: 20%;
    margin-top: 5vh;
    margin-left: 20vw;
}
.all__libma__librarian p{
    text-align: center;
    font-weight: bold;
    border-style: groove;
    background-color: antiquewhite;
    border-radius: 10%;
    box-shadow: 0px 0px 10px rgb(45, 44, 44)
}
.all__Maths{
    border-style: solid;
    border-radius: 10%;
    
}
.all__Maths h3{
    text-align: center;
}
.all__Maths img{
    width: 50vw;
    border-style: solid;
    border-radius: 20%;
    margin-top: 2vh;
    margin-left: 20vw;
}
.all__Maths p{
    font-weight: bold;
    border-style: groove;
    background-color: antiquewhite;
    border-radius: 10%;
    box-shadow: 0px 0px 10px rgb(45, 44, 44)
}
   /*Styles For Resume*/
   .language{
    align-items: center;
    
    border-style: groove;
    box-shadow: 0px 0px 10px rgb(45, 44, 44);
   }
   .language dl{
    font-weight: bold;
    border-style: groove;
    background-color: antiquewhite;
}
   .language dl dt{
    font-weight: bolder;
    font-size: large;
   }
   .language img{
    border-style: solid;
    border-radius: 10%;
    width: 50vw;
    align-items: center;
    margin-top: 5vw;
    margin-left: 23vw;
   }
   .educ__Elementary{
    box-shadow: 0px 0px 10px rgb(45, 44, 44);
    
}
.educ__Elementary img{
    border-style: groove;
    border-radius: 10%;
    width: 70vw;
}
.educ__Elementary p{
    font-weight: bold;
    border-style: groove;
    background-color: antiquewhite;
}
.educ__highschool{
    box-shadow: 0px 0px 10px rgb(45, 44, 44);
    
}
.educ__highschool p{
    font-weight: bold;
    border-style: groove;
    background-color: antiquewhite;
}
.educ__highschool img{
    margin-left: 20px;
    border-style: groove;
    border-radius: 10%;
    width: 70vw;
}
.educ__uni{
    box-shadow: 0px 0px 10px rgb(45, 44, 44);

}
.educ__uni p{
    font-weight: bold;
    border-style: groove;
    background-color: antiquewhite;
}
.educ__uni img{
    margin-left: 20px;
    border-style: groove;
    border-radius: 10%;
    width: 70vw;
}
fieldset legend + img{
    margin-left: 10px;
    border-color: rgb(191, 236, 236);
    border-style: groove;
    border-radius: 100%;
    width: 70vw;
}
.skill__Photoshop{
    box-shadow: 0px 0px 10px rgb(45, 44, 44);
    
}
.skill__Photoshop img{
    margin-left: 20px ;
    border-style: groove;
    border-radius: 10%;
    width: 70vw;
}
.skill__Photoshop p{
    font-weight: bold;
    border-style: groove;
    background-color: antiquewhite;
}
.skill__dribble{
    box-shadow: 0px 0px 10px rgb(45, 44, 44);
    
}
.skill__dribble p{
    font-weight: bold;
    border-style: groove;
    background-color: antiquewhite;
}
.skill__dribble video{
    border-style: groove;
    border-radius: 10%;
    width: 70vw;
    margin-left:5vw;
}
.skill__Acting{
    box-shadow: 0px 0px 10px rgb(45, 44, 44);
}
.skill__Acting img{
    margin-left: 30px;
    border-style: groove;
    border-radius: 10%;
    width: 70vw;
}
.skill__Acting p{
    font-weight: bold;
    border-style: groove;
    background-color: antiquewhite;
}
.adobe{
    text-align: center;
    box-shadow: 0px 0px 10px rgb(45, 44, 44);
    
}
.adobe h3{
    text-align:center;
    margin-top: 5px;
}
.adobe p{
    font-weight: bold;
    border-style: groove;
    background-color: antiquewhite;
}
#sun{
 display: none;  
 content-visibility:hidden ; 
}
.adobe img{
    margin-top: 50px;
    border-style: groove;
    border-radius: 10%;
    width: 70vw;
}

.billboard{
    box-shadow: 0px 0px 10px rgb(45, 44, 44);
    
}
.billboard img{
    border-style: groove;
    border-radius: 10%;
    width: 70vw;
    margin-left: 5vw;
}
.billboard p{
    font-weight: bold;
    border-style: groove;
    background-color: antiquewhite;
}
    /*Styles For Certificate*/
    tbody tr:nth-child(even) {
        background-color: #e7d3ba;
      }
      table {
        border-collapse: collapse;
        border: 2px inset black;
        margin-right:auto;
        box-shadow:-6px -5px grey;
      }
      
      th, td {
        padding-left: 8px;
        font-weight: bold;
      }
      td li{
        list-style-type:circle;
        text-align: left;
      }
      td p{
        font-weight: bold;
        padding: 20px;
      }
   
    td img{
        width:70%
    }
    table, th, td{
        border: 2px solid;
        border-collapse: collapse;
        
    }
    th,td{
        color: rgb(66, 44, 19);
        text-align: center;
        box-shadow: 0px 0px 10px rgb(45, 44, 44);
    }
    table img{
        width: 20vw;
        text-align: center;
        border-radius: 100%;
        margin-top: 2vw;
    }
    table ul li{
        text-align: left;
    }
    
     /*mobile landscape*/
@media screen and (min-width: 481px) and (max-width: 767px) and (orentation: landscape){

    nav #desk ul{ content-visibility: hidden;}   

    

    
}
 
   /*Style for tablet*/
@media screen and (min-width: 768px) and (max-width: 1023px){
    header .menu{
        display: grid;
        grid-template-rows: 1fr 1fr;

       
    }

    label { content-visibility: hidden;}
    .sidebar{ content-visibility: hidden;}
    
    #desk ul {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        list-style-type: none;
        align-content: center;
        
    }
    #desk ul li a{
        text-decoration: none;
        list-style-type: none;
        border-style: solid;
        padding: 10px;
        text-align: right;
        border-radius: 10px;
        
    }

    div.both{
        display: flex;
        flex-direction: column;
    }
    aside p{
        margin-top: 10vh;
    }
    div.txt h4{
       
        width: 50vw;
    }
    /*Style for homes*/

    div.main__books{
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: space-around;
        padding: 20px;
        
    }

    div.main__books__sheldon{
        margin-right: 20px;
        
        
    } 
    div.main__books__sheldon p{
        height: 50vh;
        overflow: scroll;
    }
    div.main__books__JK p{
        height: 50vh;
        overflow: scroll;
    }
    .main__volnch{
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: space-around;
        padding: 20px;
        
    }
    .main__volnch__volley{
        margin-right: 10px;
    }

    .main__Cooking img{
        
        text-align: center;
    }
  
     /*Style for Extracurricular*/

    .all__stenfer{
        display: grid;
        grid-template-columns: 1fr 1fr;
    
    }

    div.all__stenfer__Stem{
       
        margin-right:2vw;
        border-style: solid;
        border-radius: 10%;
        box-shadow: 0px 0px 10px rgb(45, 44, 44);
    
    }
    div.all__stenfer__Stem h3{
        text-align: center;
    }
    div.all__stenfer__Stem img{
        margin-top: 10vh;
        width: 40vw;
        height: 60vh;
        border-style: solid;
        border-radius: 20%;
        margin-top: 8vh;
        margin-left: 1vw;
        
    }
    div.all__stenfer__Stem p{
       
        margin-top: 35vh;
        font-weight: bold;
        border-style: groove;
        background-color: antiquewhite;
        box-shadow: 0px 0px 10px rgb(45, 44, 44)
    }
    .all__fere{
        border-style: solid;
        border-radius: 10%;
        
    }
    .all__fere h3{
        text-align: center;
        
    }
    div.all__fere img{
        
        padding: 20px;
        width: 40vw;
        border-style: solid;
        border-radius: 20%;
        margin-top: 5vh;
        margin-left: 1vw;
    }
    .all__fere audio{
        content-visibility: hidden;
    }
    .all__fere p{
        font-weight: bold;
        border-style: groove;
        background-color: antiquewhite;
        box-shadow: 0px 0px 10px rgb(45, 44, 44)
    }

    div.all__libma{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr ;
        margin-top:2vh;
    }

    div.all__libma__librarian{
        border-style: solid;
        border-radius: 10%;
        
    }
    .all__libma__librarian h3{
        text-align: center;
    }
    div.all__libma__librarian img{
        width: 45vw;
        border-style: solid;
        border-radius: 20%;
        margin-top: 5vh;
        margin-left: 1vw;
    }
    .all__libma__librarian p{
        text-align: center;
        font-weight: bold;
        border-style: groove;
        background-color: antiquewhite;
        border-radius: 10%;
        box-shadow: 0px 0px 10px rgb(45, 44, 44)
    }
    .all__Maths{
        border-style: solid;
        border-radius: 10%;
        
    }
    .all__Maths h3{
        text-align: center;
    }
    div.all__Maths img{
       
        width: 45vw;
        border-style: solid;
        border-radius: 20%;
        margin-top: 10vh;
        margin-left: 1%;
    }
    div.all__Maths p{
        margin-top: 25vh;
        font-weight: bold;
        border-style: groove;
        background-color: antiquewhite;
        border-radius: 10%;
        box-shadow: 0px 0px 10px rgb(45, 44, 44)
    }

    /* Style for eduaction*/

    fieldset.educ{

        display: grid;
        grid-template-columns: 1fr 1fr ;

    }
    .language{
        align-items: center;
        
        border-style: groove;
        box-shadow: 0px 0px 10px rgb(45, 44, 44);
        height: 60vh;
        overflow: scroll;
       }
       .language dl{
        font-weight: bold;
        border-style: groove;
        background-color: antiquewhite;
    }
       .language dl dt{
        font-weight: bolder;
        font-size: large;
       }
       .language img{
        border-style: solid;
        border-radius: 10%;
        width: 50vw;
        align-items: center;
        margin-top: 5vw;
        margin-left: 23vw;
       }
       div.educ__Elementary{
        box-shadow: 0px 0px 10px rgb(45, 44, 44);
        
    }
    div.educ__Elementary img{
        border-style: groove;
        border-radius: 10%;
        width: 40vw;
        margin-left: 2vw;
    }
    div.educ__Elementary p{
        margin-top: 6vh;
        font-weight: bold;
        border-style: groove;
        background-color: antiquewhite;
    }
    .educ__highschool{
        box-shadow: 0px 0px 10px rgb(45, 44, 44);
        
    }
    .educ__highschool p{
        font-weight: bold;
        border-style: groove;
        background-color: antiquewhite;
    }
    div.educ__highschool img{
        margin-left: 20px;
        border-style: groove;
        border-radius: 10%;
        width: 20vw;
        margin-left: 15vw;
    }
    div.educ__uni{
        box-shadow: 0px 0px 10px rgb(45, 44, 44);
        grid-column: 1/4;
        text-align: center;
    
    }
    div.educ__uni p{
        font-weight: bold;
        border-style: groove;
        background-color: antiquewhite;
    }
    div.educ__uni img{
        margin-left: 20px;
        border-style: groove;
        border-radius: 10%;
        width: 40vw;
    }
    fieldset.skill{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    fieldset #skil{
        grid-column: 1/4;
        margin-left: 10px;
        border-color: rgb(191, 236, 236);
        border-style: groove;
        border-radius: 100%;
        width: 70vw;
        margin-left: 10vw;
    }
    .skill__Photoshop{
        box-shadow: 0px 0px 10px rgb(45, 44, 44);
        
    }
    div.skill__Photoshop img{
        margin-left: 20px ;
        border-style: groove;
        border-radius: 10%;
        width: 40vw;
        margin-top: 4vh;
    }
    div.skill__Photoshop p{
        font-weight: bold;
        border-style: groove;
        background-color: antiquewhite;
        margin-top: 10.4vh;
        text-align: center;
    }
    div.skill__dribble{
        box-shadow: 0px 0px 10px rgb(45, 44, 44);
        
    }
    div.skill__dribble p{
        font-weight: bold;
        border-style: groove;
        background-color: antiquewhite;
        margin-top: 3vh ;
        text-align: center;
    }
    div.skill__dribble video{
        border-style: groove;
        border-radius: 10%;
        width: 30vw;
        margin-left:5vw;
        margin-top: 2vh;
    }
    .skill__Acting{
        box-shadow: 0px 0px 10px rgb(45, 44, 44);
        grid-column: 1/4;
        text-align: center;
    }
    .skill__Acting img{
        margin-left: 30px;
        border-style: groove;
        border-radius: 10%;
        width: 70vw;
    }
    .skill__Acting p{
        font-weight: bold;
        border-style: groove;
        background-color: antiquewhite;
    }
    div.adobe{
        display:grid;
        grid-template-columns: 1fr 1fr ;
        text-align: center;
        box-shadow: 0px 0px 10px rgb(45, 44, 44);
        
    }
    div.adobe h3{
        grid-column: 1/4;
        text-align:center;
        margin-top: 5px;
    }
    div.adobe p{
        grid-column:1/4 ;
        font-weight: bold;
        border-style: groove;
        background-color: antiquewhite;
    }
    #sun{
     display: none;  
     content-visibility:hidden ; 
    }
    div.adobe img{
       
        border-style: groove;
        border-radius: 10%;
        width: 40vw;
    }
    .billboard{
        box-shadow: 0px 0px 10px rgb(45, 44, 44);
        
    }
    div.billboard img{
        border-style: groove;
        border-radius: 10%;
        width: 70vw;
        margin-left: 10vw;
    }
    div.billboard p{
        text-align: center;
        font-weight: bold;
        border-style: groove;
        background-color: antiquewhite;
    }

    table {
        border-collapse: collapse;
        border: 2px inset black;
        margin-right:auto;
        box-shadow:-6px -5px grey;
        text-align: center;
      }

      #copy{

        font-size: 30px;
    }
    .right__footer a{
        font-size: 20px;
    }

    .right h3{

        font-size: 30px;

    }
}
   /* Style For Desktop*/
@media screen and (min-width: 1024px){
    .home_feild{
        height: auto;
    }

    #copy{

        font-size: 30px;
    }
    .right__footer a{
        font-size: 20px;
    }

    .right h3{
        font-size: 30px;

    }
    header .menu{
        display: grid;
        grid-template-rows: 1fr 1fr;

       
    }
    label { content-visibility: hidden;}
    .sidebar{ content-visibility: hidden;}
    
    #desk ul {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        list-style-type: none;
        align-content: center;
        
    }
    #desk ul li a{
        text-decoration: none;
        list-style-type: none;
        border-style: solid;
        padding: 10px;
        text-align: right;
        border-radius: 10px;
        
    }
  
    div.both{
        
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    div.both aside p{
        margin-top: 10vh;
    }
    div.txt h4{
        width: 500px;
        
        overflow: scroll;
        margin-right: 20px;
        
    }

    div.main__books{
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: space-around;
        padding: 20px;
        
    }

    div.main__books__sheldon{
        margin-right: 20px;
        
        
    } 
    div.main__books__sheldon p{
        height: 50vh;
        overflow: scroll;
    }
    div.main__books__JK p{
        height: 50vh;
        overflow: scroll;
    }
    .main__volnch{
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: space-around;
        padding: 20px;
        
    }
    .main__volnch__volley{
        margin-right: 10px;
    }

    .main__Cooking img{
        
        text-align: center;
    }
  
     /*Style for Extracurricular*/

    .all__stenfer{
        display: grid;
        grid-template-columns: 1fr 1fr;
    
    }

    div.all__stenfer__Stem{
       
        margin-right:2vw;
        border-style: solid;
        border-radius: 10%;
        box-shadow: 0px 0px 10px rgb(45, 44, 44);
    
    }
    div.all__stenfer__Stem h3{
        text-align: center;
    }
    div.all__stenfer__Stem img{
        margin-top: 10vh;
        width: 40vw;
        height: 60vh;
        border-style: solid;
        border-radius: 20%;
        margin-top: 8vh;
        margin-left: 1vw;
        
    }
    div.all__stenfer__Stem p{
       
        margin-top: 35vh;
        font-weight: bold;
        border-style: groove;
        background-color: antiquewhite;
        box-shadow: 0px 0px 10px rgb(45, 44, 44)
    }
    .all__fere{
        border-style: solid;
        border-radius: 10%;
        
    }
    .all__fere h3{
        text-align: center;
        
    }
    div.all__fere img{
        
        padding: 20px;
        width: 40vw;
        border-style: solid;
        border-radius: 20%;
        margin-top: 5vh;
        margin-left: 1vw;
    }
    .all__fere audio{
        content-visibility: hidden;
    }
    .all__fere p{
        font-weight: bold;
        border-style: groove;
        background-color: antiquewhite;
        box-shadow: 0px 0px 10px rgb(45, 44, 44)
    }

    div.libma{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr ;
        margin-top:2vh;
    }

    div.all__libma__librarian{
        border-style: solid;
        border-radius: 10%;
        
    }
    .all__libma__librarian h3{
        text-align: center;
    }
    div.all__libma__librarian img{
        width: 45vw;
        border-style: solid;
        border-radius: 20%;
        margin-top: 5vh;
        margin-left: 1vw;
    }
    .all__libma__librarian p{
        text-align: center;
        font-weight: bold;
        border-style: groove;
        background-color: antiquewhite;
        border-radius: 10%;
        box-shadow: 0px 0px 10px rgb(45, 44, 44)
    }
    .all__Maths{
        border-style: solid;
        border-radius: 10%;
        
    }
    .all__Maths h3{
        text-align: center;
    }
    div.all__Maths img{
       
        width: 45vw;
        border-style: solid;
        border-radius: 20%;
        margin-top: 10vh;
        margin-left: 1%;
    }
    div.all__Maths p{
        margin-top: 25vh;
        font-weight: bold;
        border-style: groove;
        background-color: antiquewhite;
        border-radius: 10%;
        box-shadow: 0px 0px 10px rgb(45, 44, 44)
    }

    /* Style for eduaction*/

    fieldset.educ{

        display: grid;
        grid-template-columns: 1fr 1fr ;

    }
    .language{
        align-items: center;
        
        border-style: groove;
        box-shadow: 0px 0px 10px rgb(45, 44, 44);
        height: 60vh;
        overflow: scroll;
       }
       .language dl{
        font-weight: bold;
        border-style: groove;
        background-color: antiquewhite;
    }
       .language dl dt{
        font-weight: bolder;
        font-size: large;
       }
       .language img{
        border-style: solid;
        border-radius: 10%;
        width: 50vw;
        align-items: center;
        margin-top: 5vw;
        margin-left: 23vw;
       }
       div.educ__Elementary{
        box-shadow: 0px 0px 10px rgb(45, 44, 44);
        
    }
    div.educ__Elementary img{
        border-style: groove;
        border-radius: 10%;
        width: 40vw;
        margin-left: 2vw;
    }
    div.educ__Elementary p{
        margin-top: 6vh;
        font-weight: bold;
        border-style: groove;
        background-color: antiquewhite;
    }
    .educ__highschool{
        box-shadow: 0px 0px 10px rgb(45, 44, 44);
        
    }
    .educ__highschool p{
        font-weight: bold;
        border-style: groove;
        background-color: antiquewhite;
    }
    div.educ__highschool img{
        margin-left: 20px;
        border-style: groove;
        border-radius: 10%;
        width: 20vw;
        margin-left: 15vw;
    }
    div.educ__uni{
        box-shadow: 0px 0px 10px rgb(45, 44, 44);
        grid-column: 1/4;
        text-align: center;
    
    }
    div.educ__uni p{
        font-weight: bold;
        border-style: groove;
        background-color: antiquewhite;
    }
    div.educ__uni img{
        margin-left: 20px;
        border-style: groove;
        border-radius: 10%;
        width: 40vw;
    }
    fieldset.skill{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    fieldset #skil{
        grid-column: 1/4;
        margin-left: 10px;
        border-color: rgb(191, 236, 236);
        border-style: groove;
        border-radius: 100%;
        width: 70vw;
        margin-left: 10vw;
    }
    .skill__Photoshop{
        box-shadow: 0px 0px 10px rgb(45, 44, 44);
        
    }
    div.skill__Photoshop img{
        margin-left: 20px ;
        border-style: groove;
        border-radius: 10%;
        width: 40vw;
        margin-top: 4vh;
    }
    div.skill__Photoshop p{
        font-weight: bold;
        border-style: groove;
        background-color: antiquewhite;
        margin-top: 10.4vh;
        text-align: center;
    }
    div.skill__dribble{
        box-shadow: 0px 0px 10px rgb(45, 44, 44);
        
    }
    div.skill__dribble p{
        font-weight: bold;
        border-style: groove;
        background-color: antiquewhite;
        margin-top: 3vh ;
        text-align: center;
    }
    div.skill__dribble video{
        border-style: groove;
        border-radius: 10%;
        width: 30vw;
        margin-left:5vw;
        margin-top: 2vh;
    }
    .skill__Acting{
        box-shadow: 0px 0px 10px rgb(45, 44, 44);
        grid-column: 1/4;
        text-align: center;
    }
    .skill__Acting img{
        margin-left: 30px;
        border-style: groove;
        border-radius: 10%;
        width: 70vw;
    }
    .skill__Acting p{
        font-weight: bold;
        border-style: groove;
        background-color: antiquewhite;
    }
    div.adobe{
        display:grid;
        grid-template-columns: 1fr 1fr ;
        text-align: center;
        box-shadow: 0px 0px 10px rgb(45, 44, 44);
        
    }
    div.adobe h3{
        grid-column: 1/4;
        text-align:center;
        margin-top: 5px;
    }
    div.adobe p{
        grid-column:1/4 ;
        font-weight: bold;
        border-style: groove;
        background-color: antiquewhite;
    }
    #sun{
     display: none;  
     content-visibility:hidden ; 
    }
    div.adobe img{
       
        border-style: groove;
        border-radius: 10%;
        width: 40vw;
    }
    .billboard{
        box-shadow: 0px 0px 10px rgb(45, 44, 44);
        
    }
    div.billboard img{
        border-style: groove;
        border-radius: 10%;
        width: 70vw;
        margin-left: 10vw;
    }
    div.billboard p{
        text-align: center;
        font-weight: bold;
        border-style: groove;
        background-color: antiquewhite;
    }

    table {
        border-collapse: collapse;
        border: 2px inset black;
        margin-right:auto;
        box-shadow:-6px -5px grey;
        text-align: center;
      }

      .slider {
        width: 100%;
        height: 100%;
        border-radius: 20px;
    } 
    
    .slider{
        background-color: rgb(9, 9, 9);
        width: 100%;
        height: 100%;
        overflow: hidden;
    }
    .slide img{
        max-width: 100%;
        display: block;
        animation: zoom 1s ease;
        border-radius: 10%;
        width: 400vw;
        height: 220%;
        align-content: center; 
        margin-right: 100px;
    }
    
    .slides{
      display: flex;
      width: 100;
      
    }
    
    .home_feild{
        display: flex;
    
    }
    
    .slides input{
        display: none;
    }
    .slide{
        transition: 2s;
        width: 400px;
    }
    .navigation-manual{
        position: absolute;
        margin-top: -40px;
        width: 8px;
        display: flex; 
        transition: 1s;
        content-visibility: hidden;
    }
    .manual-btn{
        
        justify-items: center;
        padding: 5px;
        border-radius: 200%;
        border: 2px solid pink;
        cursor: pointer;
        transition: 1s;
    }
    .manual-btn:not(:last-child){
        
        margin-right: 40px;
        
       
    }
    .manual-btn:hover{
        content-visibility: hidden;
        background-color: palevioletred;
    }
    
    #radio1:checked ~ .first{
        margin-left: 0;
    
    }
    #radio2:checked ~ .first{
        margin-left: -40%;
    
    }
    #radio3:checked ~ .first{
        margin-left: -60%;
    
    }
    #radio4:checked ~ .first{
        margin-left: -80%;
        
    }
    
    .navigation-auto{
        position: absolute;
        display: flex;
        width: 800px;
        justify-content: center;
    }
    .navigation-auto div{
        border: 2px solid aqua;
        padding: 5px;
        border-radius: 10px;
        transition: 1s;
    }
    .navigation-auto div.manual-btn:not(:last-child){
        
        margin-left: 40px;
    }
    
    #radio1:checked ~ .navigation-auto .auto-btn1{
        background-color: rgb(226, 225, 124);
    
    }
    #radio1:checked ~ .navigation-auto .auto-btn1{
        background-color: rgb(226, 225, 124);
    }
    #radio2:checked ~ .navigation-auto .auto-btn2{
        background-color: rgb(226, 225, 124);
    }
    #radio3:checked ~ .navigation-auto .auto-btn3{
        background-color: rgb(226, 225, 124);
    }
    #radio4:checked ~ .navigation-auto .auto-btn4{
        background-color: rgb(225, 0, 0);
    }
    


    

}
.slider {
    width: 100%;
    height: 100%;
    border-radius: 20px;
} 

.slider{
    background-color: rgb(9, 9, 9);
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.slide img{
    max-width: 100%;
    display: block;
    animation: zoom 1s ease;
    border-radius: 10%;
    width: 270%;
    height: 220%;
    align-content: center; 
    margin-right: 100px;
}

.slides{
  display: flex;
  width: 100;
  
}

.home_feild{
    display: flex;

}

.slides input{
    display: none;
}
.slide{
    transition: 2s;
    width: 400px;
}
.navigation-manual{
    position: absolute;
    margin-top: -40px;
    width: 8px;
    display: flex; 
    transition: 1s;
    content-visibility: hidden;
}
.manual-btn{
    
    justify-items: center;
    padding: 5px;
    border-radius: 200%;
    border: 2px solid pink;
    cursor: pointer;
    transition: 1s;
}
.manual-btn:not(:last-child){
    
    margin-right: 40px;
    
   
}
.manual-btn:hover{
    content-visibility: hidden;
    background-color: palevioletred;
}

#radio1:checked ~ .first{
    margin-left: 0;

}
#radio2:checked ~ .first{
    margin-left: -40%;

}
#radio3:checked ~ .first{
    margin-left: -60%;

}
#radio4:checked ~ .first{
    margin-left: -80%;
    
}

.navigation-auto{
    position: absolute;
    display: flex;
    width: 800px;
    justify-content: center;
}
.navigation-auto div{
    border: 2px solid aqua;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}
.navigation-auto div.manual-btn:not(:last-child){
    
    margin-left: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
    background-color: rgb(226, 225, 124);

}
#radio1:checked ~ .navigation-auto .auto-btn1{
    background-color: rgb(226, 225, 124);
}
#radio2:checked ~ .navigation-auto .auto-btn2{
    background-color: rgb(226, 225, 124);
}
#radio3:checked ~ .navigation-auto .auto-btn3{
    background-color: rgb(226, 225, 124);
}
#radio4:checked ~ .navigation-auto .auto-btn4{
    background-color: rgb(225, 0, 0);
}
